// Colors
$brownish-grey: #68625d;
$brown-grey: #7f7872;
$brown-grey05: rgba(127, 120, 114, 0.5);
$very-light-pink: #f9efea;
$white-secondary: #fffcfc;
$brown-grey-two: #9d9d9d;
$black: #342b25;
$white: #ffffff;
$black: #333333;
$red: #ad0101;

// Fonts
$HelveticaNeue: HelveticaNeue, Helvetica, -apple-system, BlinkMacSystemFont, Arial;
$AngleciaProDisplay: AngleciaProDisplay, Helvetica, -apple-system, BlinkMacSystemFont, Arial;
