.scrollbar-track {
  background: rgba(0, 0, 0, 0.1) !important;
  z-index: 150;
}

.scrollbar-track-x, .scrollbar-track-y {
  width: 7px !important;
}

.scrollbar-thumb {
  background: $brown-grey !important;
}
