<!--Head-->
<%= _.template(require('./../includes/head.html'))({}) %>

<!--Header-->
<%= _.template(require('./../includes/header.html'))({}) %>

<main class="markup" data-page="markup">
  <div class="container">
    <h3>Links</h3>
    <ul>
      <li>
        <a href="../home.html">Home page</a>
      </li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</main>

<%= _.template(require('./../includes/footer.html'))({}) %>
